body {
    background-image: url("../images/background.jpg");
}

#centerDiv {
    background-color: #f5f5f5; 
    margin: auto; 
    width: 70%;
}

#userImageControl,
#userImageRating {
    overflow: auto;
}